docxtpl==0.16.7
python-docx==1.1.2
docxcompose==1.4.0
Jinja2==3.1.4
lxml==5.3.0
pillow==10.4.0
espn_api==0.45.1
espn-api-football==0.3.4
openai==1.42.0
pikepdf==9.2.0
google-api-python-client==2.145.0
google-auth==2.33.0
google-auth-oauthlib==1.2.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3